.odd {
    background-color: rgba(209, 53, 100, 0.452);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#blue {
    color: hsl(241, 65%, 42%);
    font-size: 36px;
}

.large {
    font-size: 24px;
}

#green {
    background-color: rgba(85, 224, 43, 0.671);
    font-weight: bold;
}